@{
    ViewBag.Title = "Tablets List";
    ViewBag.Header = "Tablet";
    ViewBag.Caption = "Listing";
    ViewBag.AddNewUrl = Url.Action("TabletMaintenance", "Product");
    ViewBag.XlsUrl = Url.Action("Export", "Stockhouse", new { type = "Excel" });
    ViewBag.PdfUrl = Url.Action("Export", "Stockhouse", new { type = "Pdf" });
    ViewBag.PrintUrl = Url.Action("Print", "Stockhouse");
}
<div id="listing_Tablets">
    <div class="box">
        <div class="box-body table-responsive">
            <table id="dt_Mobile" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Model#</th>
                        <th>Brand</th>
                        <th>Operating System</th>
                        <th>Processor</th>
                        <th>RAM Memory</th>
                        <th>Storage</th>
                        <th>Display</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="dt_Rows"></tbody>
            </table>
        </div>
    </div>
</div>

<script id="dataTable_Mobile" type="text/x-jquery-tmpl">
    <tr>
        <td>${ModelNumber}</td>
        <td>${Manufacture}</td>
        <td>${OperatingSystem}</td>
        <td>${Processor}</td>
        <td>${ExternalStorage}</td>
        <td>${InternalStorage}</td>
        <td>${DisplaySize}</td>
        <td><a href='@Url.Action("TabletMaintenance", "Product", null)?Id=${Id}'>Edit</a></td>
    </tr>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON('@Url.Action("GetTablets", "Product")', function (result) {
            $.tmpl($('#dataTable_Mobile'), result).appendTo('#dt_Rows');

            $('#dt_Mobile').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });

        });
    });

</script>
