@{
    ViewBag.Title = "Index";
}

@model IEnumerable<Nickron.Database.Service>
@{

    <div class="col-lg-6">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("New Service", "ServiceMaintenance", "Service", null, new { style = "float: right;" })</li>

        </ol>
    </div>

    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive">
                <table id="example1" class="table table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>Service Center</th>
                            <th>Staff Name</th>
                            <th>Service Date</th>
                            <th>Type</th>                            
                            <th>Edit | Delete | View</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                            <tr>
                                <td>1</td>
                                <td>Tambaram</td>
                                <td>Jayenthan</td>
                                <td>01/07/2014</td>
                                <td>Service Type1</td>
                                <td>
                                    @Html.ActionLink("Edit", "ZoneMaintenance") |
                                    @Html.ActionLink("Delete", "Delete") |
                                    @Html.ActionLink("View", "ZoneMaintenance")
                                </td>
                            </tr>                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Sno</th>
                            <th>Service Center</th>
                            <th>Staff Name</th>
                            <th>Service Date</th>
                            <th>Type</th>
                            <th>Edit | Delete | View</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

}
