@{
    ViewBag.Title = "Stockhouses List";
    ViewBag.Header = "Stockhouse";
    ViewBag.Caption = "Listing";
    ViewBag.AddNewUrl = Url.Action("Maintenance", "Stockhouse");
    ViewBag.XlsUrl = Url.Action("Export", "Stockhouse", new { type = "Excel" });
    ViewBag.PdfUrl = Url.Action("Export", "Stockhouse", new { type = "Pdf" });
    ViewBag.PrintUrl = Url.Action("Print", "Stockhouse");
}
<div id="listing_Stockhouse">
    <div class="box">
        <div class="box-body table-responsive">
            <table id="dt_Grid" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Stockhouse</th>
                        <th>Company</th>
                        <th>Contact Person</th>
                        <th>Address</th>
                        <th>Contact Numbers</th>
                        <th>Email & Web</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="dt_Rows"></tbody>
            </table>
        </div>
    </div>
</div>

<script id="dataTable_Grid" type="text/x-jquery-tmpl">
    <tr>
        <td>${Name}</td>
        <td>${CompanyName}</td>
        <td>${ContactPerson}</td>
        <td>${AddressLine1}, ${AddressLine2}, <br /> ${AddressCity}, ${AddressState} - ${AddressZip}</td>
        <td>${Mobile} <br /> ${Phone}</td>
        <td>${Email} <br /> ${Web}</td>
        <td><a href='@Url.Action("Maintenance")?Id=${Id}'>Edit</a></td>
    </tr>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON('@Url.Action("GetStockhouses", "Stockhouse")', function (result) {
            $.tmpl($('#dataTable_Grid'), result).appendTo('#dt_Rows');

            $('#dt_Grid').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });

        });
    });

</script>