@{
    ViewBag.Title = "Index";
}

@model IEnumerable<Nickron.Database.User>
@{
      <div class="col-lg-6">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("New User", "UserMaintenance", "User", null, new { style = "float: right;" })</li>
        </ol>
    </div>
    
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>Emp Id</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Mobile No</th>
                            <th>Email Id</th>
                            <th>Designation</th>
                            <th>Edit | Delete | View</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>1</td>
                            <td>NK1001</td>
                            <td>Jayenthan</td>
                            <td>Male</td>
                            <td>Camp Rode</td>
                            <td>9791520621</td>
                            <td>jayenthan@nikcron.in</td>
                            <td>Admin</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit") |
                                @Html.ActionLink("Delete", "Delete") |
                                @Html.ActionLink("View", "View")
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Sno</th>
                            <th>Emp Id</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Mobile No</th>
                            <th>Email Id</th>
                            <th>Designation</th>
                            <th>Edit | Delete | View</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

}
